<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/domus.css">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/hot-sneaks/jquery-ui.css">
		<title>Domus</title>
	</head>

	<body class="lights-{{ lights }}">
{% if errors %}
		<div id="flash">
			<div class="alert alert-error fade in">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<p>The following errors happened
{% if addform %}
				while adding a new thing.</p>
				<a href="#editThing" role="button" class="btn btn-warning" data-toggle="modal">Fix it</a>
{% else %}
				</p>
{% endif %}

				<ul class="unstyled">
{% for e in errors %}
					<li>{{ e }}</li>
{% endfor %}
				</ul>
			</div>
		</div>
{% endif %}

		<div class="navbar {%if lights == 'on'%}navbar-inverse {%endif%}navbar-fixed-top">
			<div class="navbar-inner">
				<a class="brand" href="#">Domus</a>
				<ul class="nav">
					<li><a href="https://github.com/shawncplus/domus" target="_blank">Code</a></li>
					<li class="navbar-text faded"><strong>?</strong> - show help</li>
					<li class="navbar-text" id="lightswitch"><button class="btn btn-small" data-state="{{ lights }}">
						{% if lights == 'on' %} Kill the lights {% else %} Light it up {% endif %}
					</button></li>
					<li class="divider-vertical"></li>
				</ul>
				<form class="navbar-form pull-right" action="http://google.com/search">
					<input class="input-medium span5" id="searchbox" type="text" name="q" placeholder="Search...">
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
				</ul>
			</div>
		</div>

		<div id="widget-container" class="container">
{% for widget in widgets %}
			<div class="widget" data-id="{{ widget._id }}" id="widget-{{ widget._id }}" style="position:absolute;left:{{ widget.position.left }}px;top:{{ widget.position.top }}px">
				<ul class="nav nav-tabs widget-header">
					<li class="active"><h4>{{ widget.title }}</h4></li>
					<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" data-parent="{{ widget._id }}"><b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a data-action="edit" data-target="{{ widget._id }}"><i class="icon-pencil"></i> Edit</a></li>
							<li>
								<a data-action="delete" data-target="{{ widget._id }}"><i class="icon-fire"></i> Delete</a>
							</li>
						</ul>
					</li>
				</ul>
				<div class="widget-body">
					<div class="progress progress-striped active">
						<div class="bar" style="width: 100%;"></div>
					</div>
				</div>
			</div>
{% endfor %}
		</div>

		<div id="footer" class="navbar {%if lights == 'on'%}navbar-inverse {%endif%}navbar-fixed-bottom">
			<div class="navbar-inner">
				<a id="add_button" href="#" role="button" class="btn btn-success pull-left" data-action="add">Add Thing</a>
				<a href="/logout" class="btn btn-primary pull-right">Logout</a>
			</div>
		</div>

		<div class="modal hide fade" id="editThing" tabindex="-1" role="dialog" aria-labelledby="editThingLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="editThingLabel">Add/update thing</h3>
			</div>

			<form class="form-horizontal" method="post">
				<input type="hidden" name="action" value="add">
				<input type="hidden" id="input-_id" name="_id" value="">
				<div class="modal-body">
					<div class="control-group">
						<label class="control-label" for="input-title">Title</label>
						<div class="controls">
							<input id="input-title" name="title" type="text" {% if addform %}value="{{addform.title}}"{% endif %}>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="input-source">Source</label>
						<div class="controls">
							<input id="input-source" name="source" type="text" placeholder="http://example.com/example.rss" {% if addform %}value="{{addform.source}}"{% endif %}>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="input-count"># of stories</label>
						<div class="controls">
							<div class="input-prepend">
								<span class="add-on range-preview"></span>
								<input id="input-count" name="count" type="range" min="1" max="5" data-default="3" value="{%if addform %}{{addform.count}}{%else%}3{%endif%}">
							</div>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="input-refresh_interval">Refresh Interval</label>
						<div class="controls">
							<div class="input-prepend input-append">
								<span class="add-on range-preview"></span>
								<input id="input-refresh_interval" name="refresh_interval" type="range" data-default="15" value="{%if addform %}{{addform.refresh_interval}}{%else%}15{%endif%}" step="5" min="5" max="60">
								<span class="add-on">minutes</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
			</form>
		</div>

		<div class="modal hide fade" id="loadingmodal" tabindex="-1" role="dialog" aria-labelledby="loadingLabel" aria-hidden="true">
			<div class="modal-header">
				<h3 id="loadingLabel"></h3>
				<p></p>
			</div>
		</div>

		<div class="modal hide fade" id="keybindHelpModal" tabindex="-1" role="dialog" aria-labelledby="keybindHelpLabel" aria-hidden="true">
			<div class="modal-header">
				<h3 id="keybindHelpLabel">Keybindings</h3>
				<dl class="horizontal">
					<dt>a</dt>
						<dd>Show the Add Widget dialog</dd>
					<dt>/</dt>
						<dd>Focus the search box</dd>
					<dt>?</dt>
						<dd>You already know what this does, that's how you got here!</dd>
				</dl>
				<h3>Common Issues</h3>
					<dt>Widget showing wrong feed</dt>
						<dd>Yeah, yeah, I'm fixing that. You can force a refresh by Editing the widget and saving.</dd?
			</div>
		</div>

		<form method="post" id="delete_form" style="display: none;">
			<input type="hidden" id="delete_id" name="_id">
			<input type="hidden" name="action" value="delete">
		</form>

		<script src="//code.jquery.com/jquery-latest.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
		<script src="/static/js/bootstrap.js"></script>
		<script src="/static/js/widget.js"></script>
	</body>
</html>
