<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/domus.css">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/hot-sneaks/jquery-ui.css">
		<title>Domus</title>
	</head>

	<body class="lights-{{ lights }}">
{% if errors %}
		<div id="flash">
			<div class="alert alert-error fade in">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<p>The following errors happened</p>
				<ul class="unstyled">
	{% for e in errors %}
					<li>{{ e }}</li>
	{% endfor %}
				</ul>
			</div>
		</div>
{% endif %}

		<div class="navbar {%if lights == 'on'%}navbar-inverse {%endif%}navbar-fixed-top">
			<div class="navbar-inner">
				<a class="brand" href="#">Domus</a>
				<ul class="nav">
					<li><a href="https://github.com/shawncplus/domus" target="_blank">Code</a></li>
					<li class="navbar-text faded"><strong>?</strong> - show help</li>
					<li class="navbar-text" id="lightswitch"><button class="btn btn-small" data-state="{{ lights }}">
						{% if lights == 'on' %} Kill the lights {% else %} Light it up {% endif %}
					</button></li>
					<li class="divider-vertical"></li>
				</ul>
				<form class="navbar-form pull-right" action="http://google.com/search">
					<input class="input-medium span5" id="searchbox" type="text" name="q" placeholder="Search...">
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
				</ul>
			</div>
		</div>

		<div id="tab-container" class="container">
			<ul class="nav nav-tabs" id="tablist">
{% for tab in tabs %}
				<li{%if activetab == tab.title %} class="active"{%endif%}>
				<a href="#tab-{{tab._id}}" data-id="{{tab._id}}" data-toggle="tab">{{tab.title}}</a>
				</li>
{% endfor %}
				<li>
					<a id="add_tab" href="/form/add_tab" data-target="#addTabForm" role="button" class="btn btn-small btn-warning" data-toggle="modal">
						<i class="icon-plus-sign icon-white"></i>
					</a>
				</li>

				<li>
					<a id="remove_tab" role="button" class="btn btn-small btn-danger" data-action="delete-tab">
						<i class="icon-remove-sign icon-white"></i>
					</a>
				</li>
			</ul>

			<div class="tab-content">
{% set index = 0 %}
{% for tab in tabs %}
				<div class="tab-pane{%if index == 0%} active{%endif%}" id="tab-{{tab._id}}" data-id="{{tab._id}}"></div>
{% set index = index + 1 %}
{% endfor %}
			</div>
		</div>

		<div id="footer" class="navbar {%if lights == 'on'%}navbar-inverse {%endif%}navbar-fixed-bottom">
			<div class="navbar-inner">
				<a id="add_button" href="/form/add_widget" data-target="#addThing" role="button" class="btn btn-success pull-left" data-toggle="modal">Add Thing</a>
				<a href="/logout" class="btn btn-primary pull-right">Logout</a>
			</div>
		</div>

		<div class="modal hide fade" id="editThing" tabindex="-1" role="dialog" aria-labelledby="editThingLabel" aria-hidden="true">
			<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="editThingLabel">Update Thing</h3>
			</div>
			<div class="modal-body"></div>
		</div>

		<div class="modal hide fade" id="addThing" tabindex="-1" role="dialog" aria-labelledby="addThingLabel" aria-hidden="true">
			<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="addThingLabel">Add Thing</h3>
			</div>
			<div class="modal-body"></div>
		</div>

		<div class="modal hide fade" id="addTabForm" tabindex="-1" role="dialog" aria-labelledby="editTabLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="editTabLabel">Add Tab</h3>
			</div>
			<div class="modal-body"></div>
		</div>

		<div class="modal hide fade" id="moveForm" tabindex="-1" role="dialog" aria-labelledby="moveLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="moveLabel">Move Widget</h3>
			</div>
			<div class="modal-body"></div>
		</div>

		<div class="modal hide fade" id="loadingmodal" tabindex="-1" role="dialog" aria-labelledby="loadingLabel" aria-hidden="true">
			<div class="modal-header">
				<h3 id="loadingLabel"></h3>
				<p></p>
			</div>
		</div>

		<div class="modal hide fade" id="keybindHelpModal" tabindex="-1" role="dialog" aria-labelledby="keybindHelpLabel" aria-hidden="true">
			<div class="modal-header">
				<h3 id="keybindHelpLabel">Keybindings</h3>
				<dl class="horizontal">
					<dt>a</dt>
						<dd>Show the Add Widget dialog</dd>
					<dt>/</dt>
						<dd>Focus the search box</dd>
					<dt>?</dt>
						<dd>You already know what this does, that's how you got here!</dd>
				</dl>
				<h3>Common Issues</h3>
					<dt>Widget showing wrong feed</dt>
						<dd>You can force a refresh by Editing the widget and saving.</dd>
			</div>
		</div>

		<form method="post" id="delete_form" style="display: none;">
			<input type="hidden" id="delete_id" name="_id">
			<input type="hidden" id="delete_widget_tab_id" name="tab">
			<input type="hidden" name="action" value="delete">
		</form>

		<form method="post" id="delete_tab_form" style="display: none;">
			<input type="hidden" id="delete_tab_id" name="_id">
			<input type="hidden" name="action" value="delete_tab">
		</form>

		<script src="//code.jquery.com/jquery-latest.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
		<script src="/static/js/bootstrap.js"></script>
		<script src="/static/js/domus.js"></script>
		<script src="/static/js/widget.js"></script>
	</body>
</html>

{# vim: set fdm=indent : #}
